@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);
@boardSize: 600px;
@rowHeight: @boardSize / 4;
@stickHeight: @rowHeight * .8;
@stickWidth: @boardSize / 40;
@whiteGreen: lighten(hsl(145, 63%, 49%), 50%);
@lightGreen: #2ecc71;
@darkGreen: #27ae60;
@purple: desaturate(hsl(145, 63%, 42%), 80%);
body {
	background-color: @lightGreen;
	font-family: 'Press Start 2P', sans-serif;
	text-align: center;
}
h1 {
	position: relative;
	display: inline-block;
	margin: 75px 0px 55px;
	color: white;
}
h1::after {
	content: 'matchsticks';
	color: @darkGreen;
	position: absolute;
	top: -5px;
	left: 5px;
	z-index: -1;
}
.btn {
	font-family: 'Press Start 2P', sans-serif;
	background-color: @lightGreen;
	box-shadow: 4px -4px @darkGreen;
	border: 1px solid white;
	padding: 15px;
	margin: 20px 20px 0px;
	cursor: pointer;
	position: relative;
	color: @darkGreen;
	top: 0px;
	-webkit-transition: top .5s cubic-bezier(0.1, 0.36, 0.07, 1.12);
	transition: top .5s cubic-bezier(0.1, 0.36, 0.07, 1.12);
}
.player-btn {
	.btn;
	margin: 0px 20px 80px;
	&:disabled {
		top: -5px;
		color: @purple;
	}
	&.active {
		background-color: @whiteGreen;
		border-color: @darkGreen;
	}
}
.control-btn {
	.btn;
	&:hover {
		top: -5px;
		color: @purple;
	}
}
.stick {
	position: relative;
	display: inline-block;
	width: @stickWidth;
	height: @stickHeight;
	background-color: white;
	box-shadow: 5px -3px @darkGreen;
	color: white;
	cursor: pointer;
	margin: 0 20px;
	top: 0px;
	-webkit-transition: top .5s cubic-bezier(0.1, 0.36, 0.07, 1.12);
	transition: top .5s cubic-bezier(0.1, 0.36, 0.07, 1.12);
	&:hover {
		top: -7px;
	}
}
.row {
	height: @rowHeight;
	position: relative;
}
.board {
	position: relative;
}
@keyframes bounce {
	0% {
		transform: translate3d(0px, 0px, 0px);
	}
	100% {
		transform: translate3d(0px, -7px, 0px);
	}
}